body {
  background-color: grey;
}

.grid-square {
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
}

.container {
  display: flex;
  max-width: 23rem;
  flex-wrap: wrap;
}

.userSquareDiv {
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
}
